
<nav class="">
    <div id="AccionUsuario" class="AccionUsuario">


    </div>

    <div id="listamenu" class="listamenu">
        <div class="MenusPadres" data-nombre="Cupón" data-id="">
            <i class="astaroth-computer-2"></i>

        </div>

    </div>
    <ul id="ListaHijosMenu">
        <li>
            <a class="MenusHijos" href="@Url.Action("Cupon", "Home")">
                <span>Mantenimiento Cupón</span>
            </a>
        </li>
        <li>
            <a class="MenusHijos" href="@Url.Action("CanjearCupon", "Home")">
                <span>Validar Cupón</span>
            </a>
        </li>
    </ul>

    <i id="cerrarmenu" class="astaroth-error cerrarmenu"></i>
</nav>
